*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#101010;
    color:#efe4c6;
    font-family:Arial, sans-serif;
}

.container{
    max-width:500px;
    margin:auto;
    padding:40px 25px;
    text-align:center;
}

.logo{
    width:180px;
    margin-bottom:15px;
}

h1{
    font-family:'Cormorant Garamond', serif;
    font-size:60px;
    margin-bottom:5px;
}

h2{
    font-family:'Bebas Neue', sans-serif;
    font-size:32px;
    letter-spacing:3px;
    margin-bottom:10px;
}

.subtitle{
    font-family:'Bebas Neue', sans-serif;
    letter-spacing:2px;
    color:#F2EAD8;
    margin-bottom:25px;
}

.divider{
    height:1px;
    background-color:#8F161B;
    margin-bottom:30px;
}

.button{
    
    display:block;
    text-decoration:none;
    background-color:#8F161B;
    color:#efe4c6;
    padding:18px;
    margin-bottom:15px;
    margin-right: 12px;
    border-radius:10px;
    font-family:'Bebas Neue', sans-serif;
    letter-spacing:2px;
    font-size:24px;
    transition:.3s;
}

.button:hover{
    background-color:#A71B20;
}

/* ==========================
   MENU PAGE
========================== */

.menu-page {
    background: #101010;
    color: #efe8d7;
    font-family: Arial, sans-serif;
}

.menu-header {
    text-align: center;
    padding: 40px 20px;
}

.menu-logo {
    width: 180px;
    margin-bottom: 15px;
}

.menu-header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.menu-tagline {
    color: #c8bca3;
}

.back-button {
    color: #efe8d7;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 25px;
}

.menu-container {
    width: 90%;
    max-width: 900px;
    margin: auto;
}

.menu-card {
    background: #181818;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
}

.menu-image img {
    width: 100%;
    display: block;
}

.menu-info {
    padding: 25px;
}

.menu-info h2 {
    margin-bottom: 15px;
}

.menu-info p {
    line-height: 1.6;
    color: #ddd;
}

.price {
    display: inline-block;
    margin-top: 15px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #efe8d7;
}

.menu-footer {
    text-align: center;
    padding: 40px;
    color: #c8bca3;
}

